.titleBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  max-width: 35rem;
  min-height: 125px;

  h1 {
    margin-bottom: 0.5rem;
  }

  p {
    line-height: 1.4;
  }

  .presentationIcon {
    width: 8rem;
    height: auto;
    margin-right: 2rem;
  }
}

.createButton {
  margin-top: 1rem;
}

.projectList {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5vw;
  width: 85vw;
}
