:root {
  --color-green: #008b75;
  --color-green-light: #33a593;
  --color-orange: #f57e5d;
  --color-orange-light: #f9a790;
  --color-blue-dark: #1c4371;
  --color-blue: #7d8fb5;
  --color-blue-medium: #c1d2e9;
  --color-blue-light: #e6edf6;
  --font-family: "Montserrat";
  --font-weight-default: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-size-default: calc(16rem / 16);
  --font-size-small: calc(14rem / 16);
  --font-size-big: calc(18rem / 16);
  --header-height: 85px;
}
