.topicItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  box-sizing: border-box;

  + .topicItem {
    margin-top: 1rem;
  }

  &.resolvedTopic {
    .topicInfo {
      opacity: 0.5;
      background-color: var(--color-blue-light);
      border: none;
    }
  }

  .topicInfo {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-grow: 1;
    align-items: center;
    color: var(--color-blue);
    padding: 0 2rem;
    text-align: left;
    text-decoration: none;
    border: 2px solid var(--color-blue-light);
    border-radius: 20px 0 0 20px;
    transition: background-color 0.2s;
    min-height: 7rem;

    &.topicInfoRounded {
      border-radius: 20px;
    }

    &:hover {
      background-color: var(--color-blue-light);
    }

    .topicInfoRight {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 0.3rem;
      color: var(--color-green);

      div {
        white-space: nowrap;
      }
    }
  }

  .topicActions {
    border: 2px solid var(--color-blue-light);
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 6rem;
    padding: 0 1rem;
    background-color: var(--color-blue-light);

    .topicButton {
      padding: 0.4rem 1.5rem;

      + .topicButton {
        margin-top: 0.3rem;
      }
    }
  }
}
