.titleBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  max-width: 35rem;
  min-height: 125px;

  h1 {
    margin-bottom: 0.5rem;
  }

  p {
    line-height: 1.4;
  }

  .lightbulbIcon {
    width: 6.5rem;
    height: auto;
    margin-right: 2rem;
  }
}

.buttonRow {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.topicList {
  margin-top: 3rem;
  width: 80vw;
}
