.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0 2rem 0 1.5rem;

  .logoLink {
    display: inline-flex;
  }

  .logo {
    width: 12rem;
    height: auto;
  }

  .menuItem {
    font-weight: var(--font-weight-bold);
    color: var(--color-blue-dark);
    text-decoration: none;
    transition: color 0.2s;

    + .menuItem {
      padding-left: 3rem;
    }

    &:hover {
      color: var(--color-blue);
    }
  }

  .selected {
    color: var(--color-blue);
  }
}
