.newComment {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  min-width: 47.5rem;
  width: 47.5rem;
  margin-top: 1rem;

  .messageInput {
    font-family: var(--font-family);
    color: var(--color-blue);
    padding: 0.5rem 1rem;
    border-radius: 100px;
    border: 2px solid var(--color-blue-light);
    background-color: #fff;
    flex-grow: 1;

    &::placeholder {
      color: var(--color-blue-medium);
    }

    &:focus {
      outline: none;
    }
  }

  .sendButton {
    background-color: var(--color-blue-light);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--color-blue);
    }

    .sendIcon {
      width: 20px;
      height: 20px;
      margin-right: 2px;
    }
  }
}
