.goToLink {
  color: var(--color-green);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: var(--color-green-light);
  }
}

.submitButton {
  width: 100%;
  margin: 1.2rem auto;

  &:disabled {
    background-color: var(--color-green-light);
    border-color: var(--color-green-light);
    cursor: default;
  }
}

.loginButton {
  margin: 1.5rem auto;
  text-decoration: none;
}
